.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  /* css add animation to fade in and fade out */
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  cursor: pointer;
}

.table thead {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.sortIcon {
  margin-left: 5px;
}
